header{
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: black;
    transform: translateY(-100%);
    opacity: 0;

    animation-duration: .8s;
    animation-name: headAnimation;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
header h1{
    margin: 0;
}
header a{
    text-decoration: none;
    color: black;
}

.connexion-link{
    margin-right: 2em;
}
header a:nth-child(2){
    font-weight: bold;
}

@keyframes headAnimation{
    0% { transform: translateY(-100%); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}