header{
    padding: 1em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    margin: 0;
}
header a{
    text-decoration: none;
    color: black;
}

header a:first-child{
    margin-right: 2em;
}
header a:nth-child(2){
    font-weight: bold;
}